/* HEADER */
.div_titulo{
    background-color:rgb(121, 68, 121);
    margin-right: 0%;
    display: flex;
    padding: 0%;


}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

 .div_header ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 0;
    
}

.div_header ul li {
    margin-right: 20px;
    transition: transform 0.2s;
}

.div_header ul li:last-child {
    margin-right: 0;
}

.div_header li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.div_header li a:hover {
    color: rgb(172, 101, 172);
}

.div_header {
    background: #111;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}
h1{
    display: flex;
    padding: 0;
}

.div_header .logo {
    font-size: 36px;
    font-weight: bold;
}
.div_header .search-bar {
    display: flex;
    align-items: center;
}

.div_header .search-bar input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    background: #333;
    color: #fff;
    transition: background 0.2s;
}

.div_header .search-bar button {
    background: rgb(121, 68, 121);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
transition: background 0.2s, transform 0.2s; 
}
.div_header .search-bar button:hover {
    background: #ff5a5f; /* Cor diferente ao passar o mouse */
}

/* Adicionamos uma classe para a animação */
.div_header .search-animation {
    transform: scale(1.1); /* Efeito de escala para o botão */
}
/* FIM HEADER */
.rodape-estilizado {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.Fale_conosco{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    list-style: none;
}
.fale{
    text-decoration: none;
    color: #fff;

}
#content {
    padding: 20px;
    text-align: center;
}

.movie {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    border-radius: 10px; /* Definindo bordas arredondadas */
    overflow: hidden; /* Ocultando qualquer conteúdo que se estenda além das bordas arredondadas */
    position: relative; /* Para posicionar o ícone de "play" */
    transition: transform 0.2s; /* Adicionando animação de transformação */
    height: 20%;
    width: 15%;
}

.movie img {
    width: 100%;
    height: 280px;
    max-width: 200px;
    border-radius: 10px; /* Arredonda as extremidades da imagem */
}

.movie::after {
    content: "\25B6"; /* Adiciona o ícone de "play" (triângulo direito) */
    font-size: 4em; /* Torna o ícone maior */
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Torna o ícone mais transparente */
    transition: opacity 0.2s;
}

.movie:hover {
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
}

.movie:hover::after {
    opacity: 1;
}
main {
    /* Estilos para o conteúdo principal */
    flex: 1;
}
.main-chat{
    margin-top: 3%;
}
.contact-form{
    width: 430px; margin: 60px auto; padding: 60px 30px;
    background: rgb(91, 73, 91); border: 1px solid #e1e1e1;
    border-radius: 10px;
   
}
.em-contato{
    
        font-size: 35px;
        color: #944ab1;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 35px 0;
        text-shadow: 0px 1px 0px #fffdfd;
    
}
.contact-form label {
    float: left;
    clear: left; 
    margin: 11px 20px 0 0;
    width: 95px;
    text-align: right; 
    font-size: 16px; 
    color: #000000;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #7c7c7c;
}
.contact-form input {
    width: 260px;
    height: 35px;
    padding: 5px 20px 0px 20px; 
    margin: 0 0 20px 0;
    background: #2d0b2c;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px; 
    color: #f2f2f2; 
    text-transform: uppercase; 
    text-shadow: 0px -1px 0px #334f71;
}
.contact-form textarea {
    width: 260px; 
    height: 170px; 
    padding: 12px 20px 0px 20px; 
    margin: 0 0 20px 0;
    background: #2d0b2c;
    border-radius: 5px;
    font-family: sans-serif; 
    font-size: 16px; color: #f2f2f2; 
    text-transform: uppercase; 
    text-shadow: 0px -1px 0px #334f71;
    resize: none;
}  
.contact-form input:focus, textarea:focus {
    background: #402258;
}

.contact-form input[type=submit] {
    width: 185px; 
    height: 52px; 
    float: right; 
    padding: 10px 15px; 
    margin: 0 15px 0 0;
    border: 1px solid #556f8c;
    cursor: pointer;
}
.contact-form button{
    background: #402258;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
transition: background 0.2s, transform 0.2s; 
}

.movie:hover {
    cursor: pointer;
}
.content{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.filme-info {
    background: #111;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    display:center;
}

.filme-info h1 {
    font-size: 24px;
    justify-content: center;
    
}


.filme-imagem {
    max-width: 300px; /* Define a largura da imagem */
    height: 400px; /* A altura se ajustará automaticamente à largura */
    width: 100%;
   border-radius: 12px;
   margin: 10px;
}


/* style.css */

/* Estilize os botões de gênero semelhantes à Netflix */
.generos-list {
    text-align: center;
    margin: 20px 0;
}

.generos-list button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out; /* Adicione esta linha */
}
.generos-list button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Estilize a área de filmes */
.genero-filmes {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin: 10px 0;
}
.titulo-genero{
    justify-content: center;
}
